header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 56px;
  width: 100%;
  color: #fff;
}

.header_wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100%;
  gap: 20px;
  width: 50vw;
  -webkit-backdrop-filter: blur(8.8px);
  backdrop-filter: blur(8.8px);
}

.header_wrapper a {
  text-decoration: none;
  color: #fff;
}

.header_wrapper span {
  font-size: 18px;
  font-weight: 700;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #fff;
  text-decoration: none;
}

.header_logo svg {
  height: 20px;
  width: 20px;
  transform: translateY(1px);
  transition: 200ms ease;
}

.header_logo svg:hover {
  transform: rotate(20deg);
  transform-origin: center center;
}

.header_source {
  display: flex;
  align-items: center;
  gap: 3px;
  transform: translateY(1px);
  color: #fff;
  text-decoration: none;
  margin-left: 8px;
}

.header_source span {
  font-size: 16px;
  font-weight: normal;
  transform: translateY(-1px);
}

.header_source span:hover {
  text-decoration: underline;
}

.header_link_a:hover {
  text-decoration: underline;
}
